
body
{
	background-color: #ccc;
}

.logoFont
{
	font-family: "American Typewriter", monospace;
}

h1, h2, h3, h4, h5
{
	font-family: "Times New Roman", cursive;
}

.red-bg
{
	background-color: rgb(255,0,0)!important;
}

.yellow-bg
{
	background-color: rgb(247,221,77)!important;
}

.white-bg
{
	background-color: #eee;
}

.red-txt
{
	color: rgb(255,0,0)!important;
}

.yellow-txt
{
	color: rgb(247,221,77)!important;
}
.post
{
	background: rgb(241,227,215);
}
.modal-header
{
	background:rgb(249,227,205);
}
.btn-md
{
	background:rgb(249,227,205);
}
